body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:rgb(179, 12, 12);

}

.pimg1,.pimg2,.pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1{
    background-image: url(../pro1.jpg);
    min-height:100%;
}
.pimg2{
    background-image: url(../pro2.jpg);
    min-height:400px;
}
.pimg3{
    background-image: url(../pro3.jpg);
    min-height:400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: #f4f4f4;
    color:#666
}

.section-dark{
    background-color: #282e34;
    color:#ddd
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 50px;
    letter-spacing:10px;
    text-transform: uppercase;

}

.ptext .border{
    background-color: #111;
    color: #ffffff;
    padding: 20px;
    
}
/*INDEX SETTINGS*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../1.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 50px ;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px ;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
        background-color: #fff;
        color: #000000;
}

ul li.active a {
    background-color: #fff;
    color: #000000;
}

.logo img{
    position: absolute;
    width: 280px;
    height: auto;
    top: 30%;
    left: 30%;
    transform: translate(-50%,-50%);
    opacity: .6;
    

}
.logo img:hover{
    border: 10% #fff;
    width: 260px;
    transition: .2s ;
    opacity: 100;
    
}

.audio{
    position: absolute;
    width: 300px;
    height: auto;
    top: 70%;
    left: 30%;
    transform: translate(-50%,-50%);
    opacity: .2;
}
.audio:hover{
    
    transition: .2s ;
    opacity: 100;
}


.audio-home{
    background-color: #f0f0f0;
    color: #000;
    padding: 10px 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    width: 300px;
    transform: translate(-50%,-50%);
    opacity: .6;


}
.audio-home:hover{
    border: 2px solid red;
    transition: .6s ease
    
}

.main{
    max-width: 1200px;
    margin: auto;

}
.title{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.title h1{
     color: rgb(158, 25, 25);
     font-size: 70px;
 
 }
.button{
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%,-50%);
}

.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff ;
    text-decoration: none ;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000000;    
}

.footer{
    width: 100%;
    background-color: #222;
    padding: 60px 0px;
    text-align: center
}




